# Common
dist
node_modules
.eslintcache
vite.config.*.timestamp*

# MacOS
.DS_Store
dist.zip
dist/
# Local env files
*.local
.vscode/
# Logs
*.log/
.idea/
.husky/
.github/

# Use the pnpm
package-lock.json
yarn.lock
/yarn-error.log
